<header class="header  finisher-header">
    <div id="header_container"></div>
</header>
	<section>
		<div class="brand-box">
			<span class="brand">right Align</span>
		</div>
		
		<div class="text-box">
			<h1 class="heading-primary">
				<span class="heading-primary-main">Welcome To Vukani's Blog</span>
				<span class="heading-primary-sub"> A growing developer, sharing what I know.</span>
			</h1>
			<a href="#" class="btn btn-white btn-animated">Discover our articles</a>
		</div>
	</section>
	<section class="content">
		<!-- ====== Blog Section Start -->
	<section class="pt-20 pb-10 lg:pt-[120px] lg:pb-20 text-gray-700">
		<div class="container mx-auto">
			<div class="-mx-4 flex flex-wrap justify-center">
				<div class="w-full px-4">
				<div class="mx-auto mb-[60px] max-w-[510px] text-center lg:mb-20">
					<span class="text-primary mb-2 block text-lg font-semibold">
					Our Blogs
					</span>
					<h2
					class="text-dark mb-4 text-3xl font-bold sm:text-4xl md:text-[40px]"
					>
					Our Recent News
					</h2>
					<p class="text-body-color text-base">
					There are many variations of passages of Lorem Ipsum available but
					the majority have suffered alteration in some form.
					</p>
				</div>
				</div>
			</div>
			<div class="-mx-4 flex flex-wrap">
				<div class="w-full px-4 md:w-1/2 lg:w-1/3" *ngFor="let article of articles">
                    <BlogItemComponent></BlogItemComponent>
				</div>
			</div>
		</div>
  	</section>
  <!-- ====== Blog Section End -->
  
	</section>
	<section class="sideContent"></section>