<div class="mx-auto mb-10 max-w-[370px]">
    <div class="mb-8 overflow-hidden rounded">
    <img
        src="https://cdn.tailgrids.com/2.0/image/application/images/blogs/blog-01/image-01.jpg"
        alt="image"
        class="w-full"
    />
    </div>
    <div>
        <a href="./articles/art.html">
        <button class="bg-blue-500 mb-5 inline-block rounded py-1 px-4 text-center text-xs font-semibold leading-loose text-white">
            Read More
        </button>

        </a>
    <h3>
        <a
        href="javascript:void(0)"
        class="text-dark hover:text-primary mb-4 inline-block text-xl font-semibold sm:text-2xl lg:text-xl xl:text-2xl"
        >
        Meet AutoManage, the best AI management tools
        </a>
    </h3>
    <p class="text-body-color text-base">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
    </p>
    </div>
</div>